{%- assign product = all_products[section.settings.featured_product] -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign current_variant_sale = false -%}

{%- if product == empty -%}
  {%- assign section_onboarding = true -%}
  {%- assign vendor = 'homepage.onboarding.product_vendor' | t -%}
  {%- assign title = 'homepage.onboarding.product_title' | t -%}
  {%- assign compare_at_price = 2999 -%}
  {%- assign price = 1999 -%}
{%- else -%}
  {%- assign section_onboarding = false -%}
  {%- assign vendor = product.vendor -%}
  {%- assign title = product.title -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}
{%- endif -%}

<div id="FeaturedProduct-{{ section.id }}" class="featured-product" data-section-id="{{ section.id }}" data-section-type="featured-product" data-variant-id="{{ current_variant.id }}" {% if section_onboarding %}data-onboarding{% endif %}>
  <div class="featured-product__wrapper{% if section.settings.layout == 'full' %} featured-product__wrapper--full-width{% endif %}">

    <div class="featured-product__image-column">

      {% unless section_onboarding %}
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        {% for image in product.images %}
          {% if image.attached_to_variant? or image == featured_image %}
            <div class="featured-product__image-container{% unless featured_image == image %} hide{% endunless %}" data-id="{{ image.id }}" data-variant-image-toggle-hide>
              <div class="feature-product__image-padding"></div>
              {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

              {% if section.settings.image_size == "contain" %}
                {% assign parentFit = 'data-parent-fit="contain"' %}

                <style>
                  #FeaturedProduct-{{ section.id }} .featured-product__image {
                    object-fit: contain;
                    font-family: "object-fit: contain";
                    background-color: {{ section.settings.background_color }};
                  }
                </style>

              {% else %}
                {% assign parentFit = 'data-parent-fit="cover"' %}

                <style>
                  #FeaturedProduct-{{ section.id }} .featured-product__image {
                    object-fit: cover;
                    font-family: "object-fit: cover";
                    background-color: {{ section.settings.background_color }};
                  }
                </style>
              {% endif %}

              <img class="featured-product__image lazyload"
                  {% if featured_image == image %}src="{{ image | img_url: '300x'}}"{% endif %}
                  {% if section.settings.image_size == "contain" %}data-parent-fit="contain"{% endif %}
                  {% if section.settings.image_size == "cover" %}data-parent-fit="cover"{% endif %}
                  data-src="{{ img_url }}"
                  data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ image.alt | escape }}"
                  data-variant-image>
            </div>
          {% endif %}
        {% endfor %}
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endunless %}
    </div>

    <div class="featured-product__content-column">
      <div class="featured-product__content-wrapper">
        <div class="featured-product__content-header{% if section.settings.show_share_buttons %} featured-product__content-header--sharing{% endif %}">

          {% if section.settings.show_vendor %}
            <p class="product__vendor text-small text-center" itemprop="brand">{{ vendor }}</p>
          {% endif %}

          <h2 class="product__title text-center" itemprop="name">{{ title }}</h2>

          {% if compare_at_price > price %}
            {%- assign current_variant_sale = true -%}
          {% endif %}

          <p class="product__price text-center{% if current_variant_sale %} product__price--sale{% endif %}" data-product-price aria-live="polite">
            <span class="product__sale-price-label visually-hidden"> {{ 'products.product.sale_price' | t }} </span>
            <span class="product__regular-price-label visually-hidden"> {{ 'products.product.price' | t }} </span>
            <span class="product__current-price" data-regular-price>{{ price | money }}</span>

            <span class="product__compare-price-label visually-hidden"> {{ 'products.product.regular_price' | t }} </span>
            <s class="product__compare-price" data-compare-price>{{ compare_at_price | money }}</s>

            {% include 'product-unit-price', variant: current_variant %}
          </p>

          {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__policies rte">
              {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}

        </div>

        {% unless section_onboarding %}
          {% include 'product-form' %}
        {% else %}
          <button class="btn btn--to-secondary btn--full product__add-to-cart-button" data-cart-submit type="submit" name="add" disabled="true" aria-live="polite">
            <span class="primary-text" aria-hidden="false" data-cart-primary-submit-text>
              {{ 'products.product.sold_out' | t }}
            </span>
          </button>
        {% endunless %}

        <div class="featured-product__share-wrapper">
          <a class="product__more-details btn btn--secondary btn--primary-color btn--clear" {% unless section_onboarding %}href="{{ product.url }}?variant={{ current_variant.id }}"{% endunless %}>
            <span class="product__more-details-icon">{% include 'icon-details' %}</span>
            <span>{{ 'sections.featured_product.full_details' | t }}</span>
          </a>
          {% if section.settings.show_share_buttons %}
            {% if settings.share_facebook or settings.share_twitter or settings.share_pinterest %}
              {% include 'social-sharing', type: "product", links: 'bottom' share_title: product.title, share_permalink: product.url, share_image: product %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% unless section_onboarding %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>

    <script type="application/json" data-variant-json>
      {{ current_variant | json }}
    </script>
  {% endunless %}
</div>

{% schema %}
{
  "name": {
    "da": "Fremhævet produkt",
    "de": "Featured Produkt",
    "en": "Featured product",
    "es": "Producto destacado",
    "fi": "Esittelyssä oleva tuote",
    "fr": "Produit vedette",
    "hi": "विशेष रुप से प्रदर्शित उत्पाद",
    "it": "Prodotto in primo piano",
    "ja": "おすすめ商品",
    "ko": "특별 상품",
    "ms": "Produk yang ditampilkan",
    "nb": "Utvalgt produkt",
    "nl": "Uitgelicht product",
    "pt-BR": "Produto em destaque",
    "pt-PT": "Produto em destaque",
    "sv": "Utvald produkt",
    "th": "สินค้าที่แนะนำ",
    "zh-CN": "特色产品",
    "zh-TW": "精選產品"
  },
  "class": "index-section index-section--featured-product",
  "settings": [
    {
      "type": "product",
      "id": "featured_product",
      "label": {
        "da": "Produkt",
        "de": "Produkte",
        "en": "Product",
        "es": "Producto",
        "fi": "Tuote",
        "fr": "Produit",
        "hi": "उत्पाद",
        "it": "Prodotto",
        "ja": "商品",
        "ko": "제품",
        "ms": "Produk",
        "nb": "Produkt",
        "nl": "Product",
        "pt-BR": "Produto",
        "pt-PT": "Produto",
        "sv": "Produkt",
        "th": "สินค้า",
        "zh-CN": "产品",
        "zh-TW": "產品"
      }
    },
    {
      "type": "select",
      "id": "layout",
      "label": {
        "da": "Layout",
        "de": "Layout",
        "en": "Layout",
        "es": "Diseño",
        "fi": "Asettelu",
        "fr": "Mise en page",
        "hi": "लेआउट",
        "it": "Layout",
        "ja": "レイアウト",
        "ko": "레이아웃",
        "ms": "Tata letak",
        "nb": "Oppsett",
        "nl": "Indeling",
        "pt-BR": "Layout",
        "pt-PT": "Esquema",
        "sv": "Layout",
        "th": "เลย์เอาต์",
        "zh-CN": "布局",
        "zh-TW": "版面配置"
      },
      "default": "square",
      "options": [
        {
          "value": "square",
          "label": {
            "da": "Square",
            "de": "Square",
            "en": "Square",
            "es": "Cuadrado",
            "fi": "Square",
            "fr": "Carré",
            "hi": "वर्ग",
            "it": "Square",
            "ja": "正方形",
            "ko": "Square",
            "ms": "Square",
            "nb": "Square",
            "nl": "Square",
            "pt-BR": "Square",
            "pt-PT": "Square",
            "sv": "Square",
            "th": "สี่เหลี่ยม",
            "zh-CN": "Square",
            "zh-TW": "Square"
          }
        },
        {
          "value": "full",
          "label": {
            "da": "Fuld bredde",
            "de": "Volle Breite",
            "en": "Full-width",
            "es": "Ancho completo",
            "fi": "Täysi leveys",
            "fr": "Pleine largeur",
            "hi": "पूर्ण चौड़ाई",
            "it": "Intera larghezza",
            "ja": "全幅",
            "ko": "전체 폭",
            "ms": "Lebar penuh",
            "nb": "Full bredde",
            "nl": "Volledige breedte",
            "pt-BR": "Largura completa",
            "pt-PT": "Largura completa",
            "sv": "Full bredd",
            "th": "เต็มความกว้าง",
            "zh-CN": "全宽",
            "zh-TW": "完整寬度"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "image_size",
      "label": {
        "da": "Billedlayout",
        "de": "Bildlayout",
        "en": "Image layout",
        "es": "Diseño de la imagen",
        "fi": "Kuvan asettelu",
        "fr": "Mise en page des images",
        "hi": "इमेज लेआउट",
        "it": "Layout immagine",
        "ja": "画像のレイアウト",
        "ko": "이미지 레이아웃",
        "ms": "Tata letak imej",
        "nb": "Bildeoppsett",
        "nl": "Indeling van afbeelding",
        "pt-BR": "Layout da imagem",
        "pt-PT": "Esquema da imagem",
        "sv": "Bildlayout",
        "th": "เลย์เอาต์รูปภาพ",
        "zh-CN": "图片布局",
        "zh-TW": "圖片版面配置"
      },
      "default": "cover",
      "options": [
        {
          "value": "cover",
          "label": {
            "da": "Udfyld",
            "de": "Füllen",
            "en": "Fill",
            "es": "Llenar",
            "fi": "Täytä",
            "fr": "Remplir",
            "hi": "भरना",
            "it": "Riempi",
            "ja": "全体",
            "ko": "필",
            "ms": "Isi",
            "nb": "Fyll ut",
            "nl": "Vullen",
            "pt-BR": "Preenchimento",
            "pt-PT": "Preencher",
            "sv": "Fyll",
            "th": "ใส่",
            "zh-CN": "填充",
            "zh-TW": "填寫"
          }
        },
        {
          "value": "contain",
          "label": {
            "da": "Indeholder",
            "de": "Enthalten",
            "en": "Contain",
            "es": "Contiene",
            "fi": "Sisältää",
            "fr": "Contenir",
            "hi": "शामिल है",
            "it": "Limita",
            "ja": "領域に収める",
            "ko": "포함",
            "ms": "Mengandungi",
            "nb": "Inneholde",
            "nl": "Bevat",
            "pt-BR": "Contém",
            "pt-PT": "Contém",
            "sv": "Innehåller",
            "th": "มี",
            "zh-CN": "包含",
            "zh-TW": "包含"
          }
        }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": {
        "da": "Baggrund for billede",
        "de": "Bildhintergrund",
        "en": "Image background",
        "es": "Fondo de imagen",
        "fi": "Kuvan tausta",
        "fr": "Arrière-plan des images",
        "hi": "इमेज पृष्ठभूमि",
        "it": "Sfondo immagine",
        "ja": "画像の背景",
        "ko": "이미지 배경",
        "ms": "Latar belakang imej",
        "nb": "Bakgrunn for bilde",
        "nl": "Achtergrond van afbeelding",
        "pt-BR": "Fundo da imagem",
        "pt-PT": "Fundo da imagem",
        "sv": "Bildbakgrund",
        "th": "ภาพพื้นหลัง",
        "zh-CN": "图片背景",
        "zh-TW": "圖片背景"
      },
      "default": "transparent"
    },
    {
      "type": "header",
      "content": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "ms": "Teks",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      }
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": {
        "da": "Vis antalsvælger",
        "de": "Mengenauswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fi": "Näytä määrän valitsin",
        "fr": "Afficher le sélecteur de quantité",
        "hi": "मात्रा चयनकर्ता दिखाएं",
        "it": "Mostra selettore quantità",
        "ja": "数量セレクターを表示する",
        "ko": "수량 선택기 표시",
        "ms": "Tunjukkan pemilih kuantiti",
        "nb": "Vis mengdevelger",
        "nl": "Hoeveelheidskiezer weergeven",
        "pt-BR": "Exiba um seletor de quantidade",
        "pt-PT": "Mostrar seletor de quantidade",
        "sv": "Visa kvantitetsväljare",
        "th": "แสดงตัวเลือกปริมาณ",
        "zh-CN": "显示数量选择器",
        "zh-TW": "顯示數量選擇器"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_variant_labels",
      "label": {
        "da": "Vis variantlabels",
        "de": "Varianten-Etiketten anzeigen",
        "en": "Show variant labels",
        "es": "Mostrar etiquetas variantes",
        "fi": "Näytä vaihtoehtoiset tarrat",
        "fr": "Afficher le nom des variantes",
        "hi": "वेरिएंट लेबल दिखाएं",
        "it": "Mostra etichette varianti",
        "ja": "バリエーションのラベルを表示する",
        "ko": "이형 상품 레이블 표시",
        "ms": "Tunjukkan label varian",
        "nb": "Vis variantetiketter",
        "nl": "Variantlabels weergeven",
        "pt-BR": "Exibir etiquetas variantes",
        "pt-PT": "Mostrar etiquetas de variantes",
        "sv": "Visa variantetiketter",
        "th": "แสดงป้ายกำกับตัวเลือกสินค้า",
        "zh-CN": "显示多属性标签",
        "zh-TW": "顯示子類選項標籤"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "da": "Vis leverandør",
        "de": "Lieferanten anzeigen",
        "en": "Show vendor",
        "es": "Mostrar proveedor",
        "fi": "Näytä myyjä",
        "fr": "Afficher le distributeur",
        "hi": "विक्रेता दिखाएं",
        "it": "Mostra fornitore",
        "ja": "販売元を表示する",
        "ko": "공급업체 표시",
        "ms": "Tunjukkan vendor",
        "nb": "Vis leverandør",
        "nl": "Leverancier weergeven",
        "pt-BR": "Exibir fornecedor",
        "pt-PT": "Mostrar fornecedor",
        "sv": "Visa leverantör",
        "th": "แสดงผู้ขาย",
        "zh-CN": "显示厂商",
        "zh-TW": "顯示廠商"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "da": "Vis dynamisk betalingsknap",
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fi": "Näytä dynaaminen kassapainike",
        "fr": "Afficher le bouton de passage à la caisse dynamique",
        "hi": "डायनेमिक चेकआउट बटन दिखाएं",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "ダイナミックチェックアウトボタンを表示する",
        "ko": "동적 결제 버튼 표시",
        "ms": "Tunjukkan butang daftar keluar dinamik",
        "nb": "Vis dynamisk knapp for å gå til kassen",
        "nl": "Dynamische checkout knop weergeven",
        "pt-BR": "Exibir botão dinâmico de finalização da compra",
        "pt-PT": "Mostrar botão dinâmico de finalização da compra",
        "sv": "Visa dynamiska betalningsknappar",
        "th": "แสดงปุ่มชำระเงินแบบไดนามิก",
        "zh-CN": "显示动态结账按钮",
        "zh-TW": "顯示動態結帳按鈕"
      },
      "info": {
        "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgængelige i din butik, f.eks. PayPal eller Apple Pay. [Få mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in Ihrem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Infos](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fi": "Kukin asiakas näkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Lisätietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "hi": "प्रत्येक ग्राहक आपके स्टोर पर उपलब्ध अपनी पसंदीदा भुगतान की विधि देखेंगे जैसे PayPal या Apple Pay. [अधिक जानें](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[もっと詳しく](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ko": "각 고객은 PayPal 또는 Apple Pay와 같이 스토어에서 사용 가능한 지불 방법을 확인할 수 있습니다. [자세히 알아보기](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ms": "Setiap pelanggan akan melihat kaedah pembayaran keutamaan mereka dari yang tersedia di kedai anda, seperti PayPal atau Apple Pay. [Ketahui lebih lanjut](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmåte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Cada cliente verá sua forma de pagamento preferida dentre as disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-PT": "Cada cliente irá ver o seu método de pagamento preferido entre os disponíveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "sv": "Varje kund kommer att se den föredragna betalningsmetoden från de som finns tillgängliga i din butik, till exempel PayPal eller Apple Pay. [Läs mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "th": "ลูกค้าแต่ละรายจะเห็นวิธีการชำระเงินที่ต้องการจากวิธีที่ใช้ได้ในร้านค้าของคุณ เช่น PayPal หรือ Apple Pay [ดูข้อมูลเพิ่มเติม](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-TW": "每位客戶都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解相關資訊](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Afficher les boutons de partage sur les médias sociaux",
        "hi": "सोशल शेयरिंग बटन दिखाएं",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "ms": "Tunjukkan butang perkongsian sosial",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Fremhævet produkt",
        "de": "Featured Produkt",
        "en": "Featured product",
        "es": "Producto destacado",
        "fi": "Esittelyssä oleva tuote",
        "fr": "Produit vedette",
        "hi": "विशेष रुप से प्रदर्शित उत्पाद",
        "it": "Prodotto in primo piano",
        "ja": "おすすめ商品",
        "ko": "특별 상품",
        "ms": "Produk yang ditampilkan",
        "nb": "Utvalgt produkt",
        "nl": "Uitgelicht product",
        "pt-BR": "Produto em destaque",
        "pt-PT": "Produto em destaque",
        "sv": "Utvald produkt",
        "th": "สินค้าที่แนะนำ",
        "zh-CN": "特色产品",
        "zh-TW": "精選產品"
      },
      "category": {
        "da": "Produkt",
        "de": "Produkte",
        "en": "Product",
        "es": "Producto",
        "fi": "Tuote",
        "fr": "Produit",
        "hi": "उत्पाद",
        "it": "Prodotto",
        "ja": "商品",
        "ko": "제품",
        "ms": "Produk",
        "nb": "Produkt",
        "nl": "Product",
        "pt-BR": "Produto",
        "pt-PT": "Produto",
        "sv": "Produkt",
        "th": "สินค้า",
        "zh-CN": "产品",
        "zh-TW": "產品"
      }
    }
  ]
}
{% endschema %}
