<header class="password-header text-center" data-section-id="{{ section.id }}" data-section-type="password-header">
  {% if section.settings.logo %}
    {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
    <img src="{{ section.settings.logo | img_url: image_size }}" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
  {% else %}
    <h1 class="password-header__shop-name h4">{{ shop.name }}</h1>
  {% endif %}
</header>

{% schema %}
{
  "name": {
    "da": "Overskrift",
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fi": "Ylätunniste",
    "fr": "En-tête",
    "hi": "हैडर",
    "it": "Header",
    "ja": "ヘッダー",
    "ko": "머리글",
    "ms": "Pengepala",
    "nb": "Header",
    "nl": "Koptekst",
    "pt-BR": "Cabeçalho",
    "pt-PT": "Cabeçalho",
    "sv": "Rubrik",
    "th": "ส่วนหัว",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "da": "Logobillede",
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Logotipo",
        "fi": "Logokuva",
        "fr": "Image du logo",
        "hi": "लोगो इमेज",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "ko": "로고 이미지",
        "ms": "Imej logo",
        "nb": "Logobilde",
        "nl": "Afbeelding van logo",
        "pt-BR": "Imagem do logotipo",
        "pt-PT": "Imagem do logótipo",
        "sv": "Logobild",
        "th": "รูปภาพโลโก้",
        "zh-CN": "logo 图片",
        "zh-TW": "標誌圖片"
      }
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": {
        "da": "Brugerdefineret logobredde (i pixels)",
        "de": "Benutzerdefinierte Logobreite (Pixel)",
        "en": "Custom logo width (in pixels)",
        "es": "Ancho del logotipo personalizado (en píxeles)",
        "fi": "Mukautettu logon leveys (pikseleinä)",
        "fr": "Largeur personnalisée du logo (en pixels)",
        "hi": "कस्टम लोगो की चौड़ाई (पिक्सेल)",
        "it": "Larghezza logo personalizzato (in pixel)",
        "ja": "ロゴの幅をカスタムする（ピクセルで）",
        "ko": "사용자 지정 로고 폭 (픽셀)",
        "ms": "Lebar logo tersuai (dalam piksel)",
        "nb": "Tilpasset logobredde (i piksler)",
        "nl": "Aangepaste logobreedte (in pixels)",
        "pt-BR": "Largura do logotipo personalizado (em pixels)",
        "pt-PT": "Largura de logótipo personalizada (em píxeis)",
        "sv": "Anpassad logotypbredd (i pixlar)",
        "th": "ความกว้างของโลโก้แบบกำหนดเอง (เป็นพิกเซล)",
        "zh-CN": "自定义 logo 宽度（像素）",
        "zh-TW": "自訂標誌寬度 (單位為像素)"
      },
      "default": {
        "da": "100",
        "de": "100",
        "en": "100",
        "es": "100",
        "fi": "100",
        "fr": "100",
        "hi": "100",
        "it": "100",
        "ja": "100",
        "ko": "100",
        "ms": "100",
        "nb": "100",
        "nl": "100",
        "pt-BR": "100",
        "pt-PT": "100",
        "sv": "100 %",
        "th": "100",
        "zh-CN": "100",
        "zh-TW": "100"
      }
    }
  ]
}
{% endschema %}
