<div class="password-main text-center page-width" role="main" data-section-id={{ section.id }} data-section-type="password-content">
  <h2>{{ section.settings.header }}</h2>

  <p>{{ shop.password_message }}</p>

  {% if section.settings.newsletter_enable %}
    <div class="password-signup">
      {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <ul class="form-success">
          <li>{{ 'general.password_page.signup_form_success' | t }}</li>
        </ul>
      {% else %}
        <h4 class="password-sub-heading">{{ section.settings.newsletter_form_heading }}</h4>
        {% unless section.settings.newsletter_form_subheading == blank %}
          <div class="password-newsletter-subheading rte">
            {{ section.settings.newsletter_form_subheading }}
          </div>
        {% endunless %}
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <label for="email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
        <div class="input-group">
          <div class="input-group__field">
            <input type="email" name="contact[email]" id="email" placeholder="{{ section.settings.newsletter_placeholder }}">
          </div>
          <div class="password-form-btn input-group__btn">
            <button type="submit" name="commit" class="btn">{{ section.settings.newsletter_button_text }}</button>
          </div>
        </div>
      {% endif %}
      {% endform %}
    </div>
  {% endif %}

  {% if section.settings.show_share_buttons %}
    <div class="password-social-sharing">
      <p class="password-sub-heading h4">{{ section.settings.social_message }}</p>
      {% include 'social-links', disableTab: true, largeIcons: true %}
    </div>
  {% endif %}

  <div class="password-sub-action">
    <button class="btn btn--clear password__open-modal" aria-expanded="false">
      {{ 'general.password_page.password_link' | t }}
      {% include 'icon-arrow-right' %}
    </button>
  </div>
</div>

<div class="password-modal">
  <button type="button" class="btn btn--clear password-modal__close">
    {% include 'icon-close' %}
    <span class="icon__fallback-text">{{ 'general.password_page.close_modal' | t | json }}</span>
  </button>
  <div class="password-modal__content text-center">
    <h4 class="password-sub-heading">{{ 'general.password_page.login_form_heading' | t }}</h4>
    <div class="password-login">
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <div class="input-group">
        <div class="input-group__field">
          <label for="password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
          <input class='password-modal__input' type="password" name="password" id="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
        </div>
        <div class="input-group__btn">
          <button type="submit" name="commit" class="btn">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </div>
      </div>
      {% endform %}
      <div class="password-sub-action">
        <p>{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "da": "Indhold",
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fi": "Sisältö",
    "fr": "Contenu",
    "hi": "सामग्री",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "ko": "콘텐츠",
    "ms": "Kandungan",
    "nb": "Innhold",
    "nl": "Inhoud",
    "pt-BR": "Conteúdo",
    "pt-PT": "Conteúdo",
    "sv": "Innehåll",
    "th": "เนื้อหา",
    "zh-CN": "内容",
    "zh-TW": "內容"
  },
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": {
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "ms": "Tajuk",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Åbner snart",
        "de": "Eröffnet demnächst",
        "en": "Opening Soon",
        "es": "Apertura próximamente",
        "fi": "Avataan pian",
        "fr": "Ouverture prochaine",
        "hi": "जल्द ही खुल रहा है",
        "it": "Prossima apertura",
        "ja": "まもなく公開",
        "ko": "곧 개장",
        "ms": "Akan Dibuka Tidak Lama Lagi",
        "nb": "Åpner snart",
        "nl": "Binnenkort geopend",
        "pt-BR": "Abertura em breve",
        "pt-PT": "Abre brevemente",
        "sv": "Öppnar snart",
        "th": "จะเปิดเร็วๆ นี้",
        "zh-CN": "即将开业",
        "zh-TW": "即將開張"
      }
    },
    {
      "type": "header",
      "content": {
        "da": "Tilmelding til nyhedsbrev",
        "de": "Newsletter-Anmeldung",
        "en": "Newsletter signup",
        "es": "Suscripción al boletín",
        "fi": "Uutiskirjeen tilaus",
        "fr": "Inscription à la newsletter",
        "hi": "न्यूज़लेटर साइनअप",
        "it": "Iscrizione alla Newsletter",
        "ja": "ニュースレターの登録",
        "ko": "뉴스레터 신청",
        "ms": "Pendaftaran surat berita",
        "nb": "Registrering for nyhetsbrev",
        "nl": "Nieuwsbriefaanmelding",
        "pt-BR": "Assinatura da newsletter",
        "pt-PT": "Registo na newsletter",
        "sv": "Nyhetsbrevsregistrering",
        "th": "การสมัครรับจดหมายข่าว",
        "zh-CN": "新闻通讯注册",
        "zh-TW": "訂閱電子報"
      }
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "da": "Vis tilmelding til nyhedsbrev",
        "de": "Newsletter-Anmeldung anzeigen",
        "en": "Show newsletter signup",
        "es": "Mostrar suscripción al boletín",
        "fi": "Näytä uutiskirjeen tilaus",
        "fr": "Afficher l'inscription à la newsletter",
        "hi": "न्यूज़लेटर साइनअप दिखाएं",
        "it": "Mostra iscrizione alla newsletter",
        "ja": "ニュースレターの登録を表示する",
        "ko": "뉴스레터 신청 표시",
        "ms": "Tunjukkan pendaftaran surat berita",
        "nb": "Vis nyhetsbrev-registrering",
        "nl": "Aanmelden voor nieuwsbrief weergeven",
        "pt-BR": "Exibir assinatura da newsletter",
        "pt-PT": "Mostrar registo na newsletter",
        "sv": "Visa nyhetsbrevsregistrering",
        "th": "แสดงการสมัครรับจดหมายข่าว",
        "zh-CN": "显示新闻通讯注册",
        "zh-TW": "顯示訂閱電子報"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": {
        "da": "Overskrift til nyhedsbrevsformular",
        "de": "Überschrift für Newsletter-Formular",
        "en": "Newsletter form heading",
        "es": "Título del formulario del boletín",
        "fi": "Uutiskirjelomakkeen otsikko",
        "fr": "Titre du formulaire de la newsletter",
        "hi": "न्यूज़लेटर फ़ॉर्म का शीर्षक",
        "it": "Titolo del modulo della newsletter",
        "ja": "ニュースレターフォームの見出し",
        "ko": "뉴스레터 양식 제목",
        "ms": "Tajuk borang surat berita",
        "nb": "Skjemaoverskrift for nyhetsbrev",
        "nl": "Kop van nieuwsbriefformulier",
        "pt-BR": "Título do formulário da newsletter",
        "pt-PT": "Título do formulário da newsletter",
        "sv": "Rubrik för nyhetsbrevsformulär",
        "th": "ส่วนหัวแบบฟอร์มจดหมายข่าว",
        "zh-CN": "标题中的新闻通讯",
        "zh-TW": "電子報表單標題"
      },
      "default": {
        "da": "Se, hvornår vi åbner",
        "de": "Herausfinden, wann wir öffnen",
        "en": "Find out when we open",
        "es": "Averigua cuándo abrimos",
        "fi": "Tarkista, milloin avaamme",
        "fr": "Restez au courant de notre date de lancement",
        "hi": "हमारे द्वारा खोलने पर पता करें",
        "it": "Scopri quando apriamo",
        "ja": "開店を知らせる",
        "ko": "열 때 찾아보기",
        "ms": "Ketahui bila kami dibuka",
        "nb": "Finn ut når vi åpner",
        "nl": "Ontdek wanneer we open zijn",
        "pt-BR": "Fique por dentro quando abrirmos a loja",
        "pt-PT": "Descubra quando estamos abertos",
        "sv": "Ta reda på när vi öppnar",
        "th": "ดูข้อมูลว่าเราเปิดเมื่อใด",
        "zh-CN": "了解我们的开业时间",
        "zh-TW": "瞭解我們的開張時間"
      },
      "info": {
        "da": "[Fortæl dine besøgende om data for lancering](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "de": "[Informieren Sie Ihre Besucher über den Eröffnungstermin](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "en": "[Tell your visitors about the launch date](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "es": "[Informa a tus visitantes sobre el día de lanzamiento](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "fi": "[Kerro kävijöille julkaisupäivästä](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "fr": "[Annoncez la date de lancement à vos visiteurs](https://fr.shopify.com/blog/15514000-14-manieres-dutiliser-les-codes-promo-bons-de-reduction-coupons-et-remises-pour-generer-des-revenus-et-fideliser-les-clients).",
        "hi": "[लॉन्च की दिनांक के बारे में अपने दर्शक को बताएं](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "it": "[Informa i visitatori sulla data del lancio](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "ja": "[訪問者に公開日ついて伝える](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "ko": "[출시일에 대해 방문자에게 알리십시오](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "ms": "[Beritahu pelawat anda tentang tarikh pelancaran](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "nb": "[Fortell de besøkende om lanseringsdatoen](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "nl": "[Vertel je bezoekers over de opening](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "pt-BR": "[Informe seus visitantes sobre a data de lançamento](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "pt-PT": "[Informe os seus visitantes sobre a data de lançamento](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "sv": "[Berätta för dina besökare om rabatter på lanseringsdagen](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "th": "[บอกผู้เยี่ยมชมของคุณเกี่ยวกับวันเปิดตัว](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)",
        "zh-CN": "[告诉访客您的推出日期](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "zh-TW": "[通知訪客上市日期](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。"
      }
    },
    {
      "type": "richtext",
      "id": "newsletter_form_subheading",
      "label": {
        "da": "Underoverskrift til nyhedsbrevsformular",
        "de": "Untertitel für Newsletter-Formular",
        "en": "Newsletter form subheading",
        "es": "Subtítulo del formulario del boletín",
        "fi": "Uutiskirjelomakkeen alaotsikko",
        "fr": "Sous-titre du formulaire de la newsletter",
        "hi": "न्यूज़लेटर फ़ॉर्म का उपशीर्षक",
        "it": "Sottotitolo del modulo della newsletter",
        "ja": "ニュースレターフォームの小見出し",
        "ko": "뉴스레터 양식 소제목",
        "ms": "Sub tajuk borang surat berita",
        "nb": "Underoverskrift for nyhetsbrevskjema",
        "nl": "Subkop van nieuwsbriefformulier",
        "pt-BR": "Subtítulo do formulário da newsletter",
        "pt-PT": "Subtítulo do formulário da newsletter",
        "sv": "Underrubrik för nyhetsbrevsformulär",
        "th": "หัวเรื่องย่อยแบบฟอร์มจดหมายข่าว",
        "zh-CN": "副标题中的新闻通讯",
        "zh-TW": "電子報表單副標題"
      },
      "default": {
        "da": "<p>Reklamer, nye produkter og salg. Direkte i din indbakke.</p>",
        "de": "<p>Werbeaktionen, neue Produkte und Sonderangebote. Direkt in Ihrem Posteingang.</p>",
        "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>",
        "es": "<p>Promociones, nuevos productos y ventas. Directamente a tu bandeja de entrada.</p>",
        "fi": "<p>Kampanjat, uudet tuotteet ja myynti. Suoraan saapuneet-kansioosi</p>",
        "fr": "<p>Promotions, nouveaux produits et soldes. Directement dans votre boîte de réception.</p>",
        "hi": "<p>प्रमोशन, नए उत्पाद और सेल. सीधे आपके इनबॉक्स में.</p>",
        "it": "<p>Promozioni, nuovi prodotti e offerte. Direttamente nella tua casella di posta.</p>",
        "ja": "<p>プロモーション、新商品、セールについて、あなたのインボックスに直接知らせる。</p>",
        "ko": "<p>프로모션, 신제품, 판매. 받은 편지함으로 바로 이동.</p>",
        "ms": "<p>Promosi, produk baharu dan jualan. Terus ke peti masuk anda.</p>",
        "nb": "<p>Kampanjer, nye produkter og salg. Direkte i innboksen din.</p>",
        "nl": "<p>Promoties, nieuwe producten en uitverkoop rechtstreeks in je inbox.</p>",
        "pt-BR": "<p>Promoções, novos produtos e vendas. Diretamente para sua caixa de entrada.</p>",
        "pt-PT": "<p>Promoções, novos produtos e ofertas. Diretamente na sua caixa de entrada.</p>",
        "sv": "<p>Kampanjer, nya produkter och försäljning. Direkt till din inkorg.</p>",
        "th": "<p>โปรโมชัน สินค้าใหม่ และการลดราคา ตรงสู่กล่องจดหมายเข้าของคุณ</p>",
        "zh-CN": "<p>促销、新产品和销售。直接发送到您的收件箱。</p>",
        "zh-TW": "<p>讓您直接在收件匣內收取促銷活動、最新產品和特賣活動訊息。</p>"
      }
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": {
        "da": "Labeltekst til nyhedsbrev",
        "de": "Beschriftungstext für Newsletter",
        "en": "Newsletter label text",
        "es": "Texto de la etiqueta del boletín",
        "fi": "Uutiskirjeen osoitelapun teksti",
        "fr": "Texte de l'étiquette de la newsletter",
        "hi": "न्यूज़लेटर लेबल टेक्स्ट",
        "it": "Testo etichetta newsletter",
        "ja": "ニュースレターラベルのテキスト",
        "ko": "뉴스레터 레이블 텍스트",
        "ms": "Teks label surat berita",
        "nb": "Etikettekst for nyhetsbrev",
        "nl": "Labeltekst van nieuwsbrief",
        "pt-BR": "Texto de etiqueta da newsletter",
        "pt-PT": "Texto da etiqueta da newsletter",
        "sv": "Etikettext för nyhetsbrev",
        "th": "ข้อความป้ายกำกับจดหมายข่าว",
        "zh-CN": "新闻通讯标签文本",
        "zh-TW": "電子報標籤文字"
      },
      "default": {
        "da": "E-mailadresse",
        "de": "E-Mail-Adresse",
        "en": "Email address",
        "es": "Dirección de correo electrónico",
        "fi": "Sähköpostiosoite",
        "fr": "Adresse e-mail",
        "hi": "ईमेल पता",
        "it": "Indirizzo email",
        "ja": "メールアドレス",
        "ko": "이메일 주소",
        "ms": "Alamat e-mel",
        "nb": "E-postadresse",
        "nl": "E-mailadres",
        "pt-BR": "E-mail",
        "pt-PT": "Endereço de e-mail",
        "sv": "E-postadress",
        "th": "อีเมล",
        "zh-CN": "电子邮件地址",
        "zh-TW": "電子郵件地址"
      }
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": {
        "da": "Knapetiket til nyhedsbrev",
        "de": "Beschriftung für Newsletter-Schaltfläche",
        "en": "Newsletter Button label",
        "es": "Etiqueta del botón del boletín",
        "fi": "Uutiskirjeen painikkeen teksti",
        "fr": "Texte du bouton de la newsletter",
        "hi": "न्यूज़लैटर बटन लेबल",
        "it": "Etichetta pulsante newsletter",
        "ja": "ニュースレターボタンのラベル",
        "ko": "뉴스레터 버튼 레이블",
        "ms": "Label Butang Surat Berita",
        "nb": "Knappetikett for nyhetsbrev",
        "nl": "Knoplabel van nieuwsbrief",
        "pt-BR": "Etiqueta do botão da newsletter",
        "pt-PT": "Etiqueta do botão da newsletter",
        "sv": "Nyhetsbrev knappetikett",
        "th": "ป้ายกำกับปุ่มจดหมายข่าว",
        "zh-CN": "新闻通讯按钮标签",
        "zh-TW": "電子報按鈕標籤"
      },
      "default": {
        "da": "Indsend",
        "de": "Eingabe",
        "en": "Submit",
        "es": "Enviar",
        "fi": "Lähetä",
        "fr": "Envoyer",
        "hi": "सबमिट करें",
        "it": "Invia",
        "ja": "送信",
        "ko": "제출",
        "ms": "Serahkan",
        "nb": "Send",
        "nl": "Verzenden",
        "pt-BR": "Enviar",
        "pt-PT": "Submeter",
        "sv": "Skicka",
        "th": "ส่ง",
        "zh-CN": "提交",
        "zh-TW": "提交"
      }
    },
    {
      "type": "header",
      "content": {
        "da": "Deling på sociale medier",
        "de": "Social Sharing",
        "en": "Social sharing",
        "es": "Compartir en redes sociales",
        "fi": "Sosiaalisen median jakaminen",
        "fr": "Partage social",
        "hi": "सोशल शेयरिंग आइकन",
        "it": "Condivisione sui social",
        "ja": "ソーシャル共有",
        "ko": "소셜 공유",
        "ms": "Perkongsian sosial",
        "nb": "Sosial deling",
        "nl": "Delen via social media",
        "pt-BR": "Compartilhamento social",
        "pt-PT": "Partilha nas redes sociais",
        "sv": "Social delning",
        "th": "การแชร์ลงโซเชียล",
        "zh-CN": "社交分享",
        "zh-TW": "社群分享"
      }
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Afficher les boutons de partage sur les médias sociaux",
        "hi": "सोशल शेयरिंग बटन दिखाएं",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "ms": "Tunjukkan butang perkongsian sosial",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor delen via social media weergeven",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": {
        "da": "Overskrift på knapper til deling på sociale medier",
        "de": "Überschrift für Social-Sharing-Schaltflächen",
        "en": "Social sharing buttons heading",
        "es": "Título de botones para compartir en redes sociales",
        "fi": "Sosiaalisen median jakamispainikkeiden otsikko",
        "fr": "Titre des boutons de partage social",
        "hi": "सोशल शेयरिंग बटन शीर्षक",
        "it": "Titolo dei pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンの見出し",
        "ko": "소셜 공유 버튼 제목",
        "ms": "Tajuk butang perkongsian sosial",
        "nb": "Overskrift til knapper for sosial deling",
        "nl": "Kop van knoppen voor delen via social media",
        "pt-BR": "Título dos botões de compartilhamento social",
        "pt-PT": "Título dos botões de partilha nas redes sociais",
        "sv": "Knapprubrik för social delning",
        "th": "ส่วนหัวปุ่มสำหรับแชร์ลงโซเชียล",
        "zh-CN": "社交分享按钮标题",
        "zh-TW": "社交分享按鈕標題"
      },
      "default": {
        "da": "Spred budskabet",
        "de": "Weitersagen",
        "en": "Spread the word",
        "es": "Riega la voz",
        "fi": "Levitä sanaa",
        "fr": "Faites passer le mot",
        "hi": "जानकारी अधिक लोगों तक पहुंचाएं",
        "it": "Spargi la voce",
        "ja": "情報を広く伝えましょう",
        "ko": "소문 내기:",
        "ms": "Sebarkan",
        "nb": "Spre ordet",
        "nl": "Vertel het verder",
        "pt-BR": "Divulgue a novidade",
        "pt-PT": "Passar a palavra",
        "sv": "Sprid meddelandet",
        "th": "ประกาศ",
        "zh-CN": "传播消息",
        "zh-TW": "四處宣傳"
      }
    }
  ]
}
{% endschema %}
